td {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  text-align: center;
}
input {
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-family: "Dosis", sans-serif;
  text-align: center;
}
button {
  height: 40px;
  width: 40px;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  text-align: center;
}
